console_title_template = '{{ .Shell }} in {{ .Folder }}'
version = 4
final_space = true

[[blocks]]
    type = 'rprompt'
    overflow = 'hidden'

    [[blocks.segments]]
        type = 'executiontime'
        style = 'plain'
        background = 'transparent'
        foreground = 'magenta'
        template = '{{ .FormattedMs }}'
        
        [blocks.segments.properties]
            threshold = 5000

[[blocks]]
    type = 'prompt'
    alignment = 'left'

    [[blocks.segments]]
        type = 'path'
        style = 'plain'
        background = 'transparent'
        foreground = 'blue'
        template = '{{ .Path }}'

        [blocks.segments.properties]
            style = 'full'



    [[blocks.segments]]
        type = 'text'
        style = 'plain'
        background = 'transparent'
        foreground = 'magenta'
        template = ' →'

[transient_prompt]
    background = 'transparent'
    foreground = 'magenta'
    template = '→ '
